*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('/code.jpg');
    background-size: cover;
    background-position: center;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.container{
   background-color: white;
   width: 70vw;
   margin: 50px auto;
   padding: 30px;
   border-radius: 5px;
}
.header{
    background-color: rgb(27, 219, 187);
    margin-bottom: 20px;
    display: block;
    border-radius: 5px;
    width: 100%;
}

.form-control {
    position: relative;
    margin: 20px 0;
}

.header h1{
    text-align: center;
    padding: 10px;
}

.error{
    color: red;
    font-size: 12px;
    text-transform: uppercase;
}
.form-control label{
display: block;
margin-bottom: 5px;
}
.form-control input{
    display: block;
    /* margin-bottom: 10px; */
    border: 2px solid #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}
.form-control input:focus{
    outline: 0;
    border-color: red;
}
.container .btn{
    border-radius: 5px;
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgb(27, 219, 187);
}
.form-control p{
    margin: 0 !important;
}

@media(max-width : 480px){
    .header h1{
        font-size: 20px;
    }
}
@media(max-width : 340px){
    .header h1{
        font-size: 16px;
    }
}
@media(max-width : 280px){
    .header h1{
        font-size: 10px;
    }
}
